@import "../style.scss";

.form {
  border: 2px solid $borderColor;
  border-radius: 6px;
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  &__data {

    p {
      font-size: $fontSizeXLarge;
      padding-bottom: 10px;
    }

    &-user-input {
      @include display-flex(flex);
      @include flex-direction(column);
      padding: 0 15px 15px 0;

      label {
        text-align: left;
        padding-bottom: 5px;
        font-size: $fontSizeMedium;
        margin: 0;

        sup {
          color: red;
        }
      }

      span{
        text-align: left;
        font-size: $fontSizeSmall;
        color: red;
      }

      input {
        height: 35px;
        border-radius: 6px;
        border: 2px solid $borderColor;
        padding: 2px 10px;
        font-size: $fontSizeMedium;
        margin-bottom: 3px;
      }
    }
  }
  &__buttons{
    
      &-disabled {
        cursor: not-allowed !important;
        background: $greyColor !important;
      }
    
      button {
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        background: $secondaryColor;
        color: $primaryColor;
        padding: 5px 15px;
        cursor: pointer;
      }
    }
}
