@import "../style.scss";

.topBar {
  @include display-flex(flex);
  @include align-items(center);
  background-color: $secondaryColor;
  padding: 10px 20px;

  &__identity {
    padding: 10px 12px;
    background: #edf5e1;
    border-radius: 5px;
    margin-right: 15px;
    font-size: $fontSizeLarge;
  }

  &__heading {
    color: $primaryColor;
    font-size: calc($fontSizeLarge + 8px);
  }
}
