@import "../style.scss";

.loader, .modal-content{
    display: block;
    border: none;
  }
  
  .modal-content{
    background-color: transparent !important;
  }
  
  .modal{
    background-color: rgba(0,0,0,0.4);
  }