@import "../style.scss";

.list {
  padding: 20px;

  &__new {
    padding: 10px 15px;
    background: $quadraColor;
    color: $primaryColor;
    font-size: $fontSizeMedium;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  table {
    border: 2px solid $borderColor;
    border-radius: 4px;
    border-collapse: collapse;
    width: 100%;

    .list-buttons{
      span{
        img{
          @include width-height(20px,20px);
          cursor: pointer;
        }

        &:first-child{
          padding-right: 10px;
        }
      }
    }

    th {
      background: $backgroundColor;
    }

    tr {
      border-bottom: 2px solid $borderColor;
    }

    th,
    td {
      word-break: break-word;
      text-align: start;
      padding: 10px;
      color: $primaryColor;
    }
  }
}
