@mixin display-flex($flex) {
  display: $flex;
}

@mixin align-items($align) {
  align-items: $align;
}

@mixin justify-content($justify) {
  justify-content: $justify;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
}
