$primaryColor: #05386b;
$secondaryColor: #5cdb95;
$tertiaryColor: #379683;
$quadraColor: #8ee4af;
$backgroundColor: #edf5e1;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #dadada;
$borderColor: #dcdcdc;

$fontSizeXSmall: 10px;
$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeLarge: 16px;
$fontSizeXLarge: 18px;
