@import "../style.scss";

.toaster {
  @include display-flex(flex);
  @include align-items(center);
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 320px;
  background-color: $whiteColor;
  transition: all 0.8s ease-in;
  border: 2px solid $borderColor;
  border-radius: 6px;
  z-index: 20;
  padding: 5px 10px;

  img {
    @include width-height(30px, 30px);
    padding-right: 5px;
  }
  &__content {
    padding-right: 5px;
    &-heading {
      font-size: $fontSizeMedium;
      text-align: left;
    }

    &-message {
      color: $primaryColor;
      font-size: $fontSizeSmall;
      text-align: left;
    }
  }

  &__close {
    cursor: pointer;
    flex-grow: 1;
    img {
      @include width-height(15px, 15px);
      padding: 0;
    }
  }
}
